<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos de aprendizaje</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    
    <div id="app">
        <h1>
          Mis Cursos de Platzi 💚
        </h1>
        <fieldset class="container">
            <div>
                <input type="text"
                 placeholder="Titulo del curso"
                 v-model="title"
                 />
                <input type="number"
                 placeholder="Horas"
                 v-model="time"
                 />
            </div>
            <button v-on:click="addCourse">Guardar Curso</button>
        </fieldset>
        <div>
          <h3>Lista de Cursos</h3>
          <p class="warning" v-if='!item_available'>Aun no has realizado cursos<span> #NuncaParesDeAprender</span></p>
          <div class="info_container">
            <ol v-if='item_available'>
              <!-- Lista de cursos -->
              <li v-for="element in courses">
                  <span>{{element.title}}</span> completado en <span>{{element.time}}</span> hora(s)
              </li>
            </ol>
            <hr/>
            <p>
              Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
              <b>#NuncaParesDeAprender 💚</b>
            </p>
            <p>By Sr-santiR</p>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>